<p>botonera works!</p>

<div id="wrapper">
    <div id="cuerpo">
        <div id="pantalla">
            <p>{{valorpantalla}}</p>
        </div>
        <div id="botonera">
            <button (click)="pincharBoton($event)">1</button>
            <button (click)="pincharBoton($event)">2</button>
            <button (click)="pincharBoton($event)">3</button>
            <button (click)="pincharBoton($event)">4</button>
            <button (click)="pincharBoton($event)">5</button>
            <button (click)="pincharBoton($event)">6</button>
            <button (click)="pincharBoton($event)">7</button>
            <button (click)="pincharBoton($event)">8</button>
            <button (click)="pincharBoton($event)">9</button>
            <button (click)="pincharBoton($event)">0</button>
        </div>
        <div id="operandos">
            <button (click)="pincharBoton($event)">+</button>
            <button (click)="pincharBoton($event)">-</button>
            <button (click)="pincharBoton($event)">*</button>
            <button (click)="pincharBoton($event)">/</button>
            <button (click)="pincharBoton($event)">=</button>
        </div>
    </div>

</div>