extends layout
block title
block contenido
    +crearLista()
    +crearLista(arrayEscritores)
    h3 ESCRITORES LISTA

     table.table 
        thead.thead-dark
        th INDICE
        th ID
        th NOMBRE
        th IMAGEN
        each escritor, indice in arrayEscritores
                tr 
                  td   #{indice} 
                  td   #{escritor.id} 
                  td   #{escritor.nombre}
                  td
                   img(src=escritor.imagen,width='100px')