extends layout
block content
    h2 Mensaje difundido
        .form-group
            label Inserte aquí su mensaje para los usuarios de la base de datos
            input.textarea.form-control(type="textarea")
                p Poseo pruebas fehacientes en mi base de datos de que eres una sucia rata judía, ${telegramID}
        input(type="submit", value="Enviar")
Contraer




